body {
    margin: 0;
}

.app-container {
    display: flex;
    flex-direction: column;
    font-family: "Arial";
}

.top-var {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    color: white;
    background-color: #605ca8;
    flex-wrap: wrap;
}

.site-mark {
    font: 20px "Arial";
    margin-left: 20px;
}

.auth-user {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.user-name {
    font: 15px "Arial";
    margin: 0px 30px 0px 10px;
}

.home-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
    height: calc(100vh - 100px);
}

.home-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.home-left {
    display: flex;
    flex-direction: column;
}

.home-setting {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    font-size: 15px;
}

.meetings {
    cursor: pointer;
    height: 30px;
    width: 80px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mailing {
    cursor: pointer;
    height: 30px;
    width: 80px;
    background-color: rgba(60, 140, 187, 1);
    border: 2px solid rgba(60, 140, 187, 1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.home-right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 13px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropbtn:hover {
    background-color: #3e8e41;
}

.dropdown-content>div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 5px;
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around !important;
}

.buttons>button {
    border: none !important;
    width: 70px;
    height: 25px;
    color: white;
    cursor: pointer;
}

.cancel-button {
    background-color: #ff4646;
}

.cancel-button:hover {
    background-color: #ca2b2b;
}

.export-button {
    background-color: #28a745;
}

.export-button:hover {
    background-color: #3e8e41;
}

.home-body {
    margin-top: 20px;
    max-width: calc(100vw - 40px);
    height: 100%;
    overflow-x: auto;
}

th,
td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.home-table {
    border-collapse: collapse;
    min-width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.table-body {
    max-width: calc(100vw - 40px);
    height: 100%;
    overflow-x: auto;
}

.ml {
    margin-left: 10px;
}

.mr {
    margin-right: 10px;
}

.mt {
    margin-top: 10px;
}

.mb {
    margin-bottom: 10px;
}

.ml-15 {
    margin-left: 15px;
}

.mr-15 {
    margin-right: 15px;
}

.mt-15 {
    margin-top: 15px;
}

.mb-15 {
    margin-bottom: 15px;
}

.w {
    width: 100%;
}

.edit-icon {
    cursor: pointer;
    color: rgb(105, 26, 252);
}

.delete-icon {
    cursor: pointer;
    color: rgb(209, 13, 13);
}

.url {
    max-width: 150px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.edit-model {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 500px;
    border-radius: 10px;
    z-index: 2;
    background-color: white;
    padding: 20px;
}

.edit-model>div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.background {
    width: 100vw;
    height: calc(100vh - 50px);
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.flex {
    display: flex;
}

.none {
    display: none;
}